@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html, body{
    margin: 0;
    padding: 0;
    background-color:#111111;
}

/* OVERALL */

.coded-text{
    color: lawngreen;
    font-weight: 600;
    font-family: 'Anonymous Pro', monospace;
    text-shadow: 0px 0px 8px;
    letter-spacing: .15em;
}

.intro-text{
    color: white;
    font-family: 'Fira Code', monospace;
}

.card{
    margin-left: 25px;
    width: 30%;

    display: inline-table;
    text-align: center;
}

.card-title{
    border-bottom: 3px solid white;
    padding-bottom: 5px;
}

.link{
    color: #A6A6FF;
    text-decoration: none;
    background-color:none;
}

/* OVERALL ENDS */

/* NAVIGATION BAR */
.nav-ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #111111;
    height:50px;
}

#nav-title{
    font-size: 25px;
    padding-top: 7px;
    cursor: pointer;
    text-align: center;
}

.nav-a{
    font-size: 20px;
    transform: translateY(-30px);
    padding-top: 7px;
    cursor: pointer;
}
/* NAVIGATION BAR ENDS */

/* TYPEWRITER ANIMATION */
.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 4.0s steps(110, end),
    blink-caret .75s step-end infinite;
}

.typewriter-o{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 4.0s steps(80, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  text-shadow: 0px 0px 8px;
  color: lawngreen;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.blinking{
    animation: blink-text 1s step-end infinite;
}


@keyframes "blink-text"{
    from, to{
        color:transparent;
    }
    50%{
        color:red;
    }
}

@-moz-keyframes "blink-text"{
    from, to{
        color:transparent;
    }
    50%{
        color:red;
    }
}

@-webkit-keyframes "blink-text"{
    from, to{
        color:transparent;
    }
    50%{
        color:red;
    }
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: lawngreen;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: lawngreen;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: lawngreen;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: lawngreen;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: lawngreen;
  }
}

/* TYPEWRITER ENDS */

.section{
    height: 100vh;
}